body.inverted {

  color: $fg-color-inverted;
  background-color: $bg-color-inverted;
  
  a {
    color: $link-color-inverted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $alt-fg-color-inverted;
  }

  code {
    background-color: $alt-bg-color-inverted;
    color: $fg-color-inverted;
  }

  pre {
    code {
      background-color: inherit;
      color: inherit;
    }
  }

  blockquote {
    border-left: 2px solid $alt-bg-color-inverted;
  }

  table td, table th {
    border: 2px solid $alt-fg-color-inverted;
  }

}

.portfolio .portfolio-inner {
  display: flex;
  align-items: stretch;
  @media only screen and (max-width : 768px) {
    display: block;
  }

}
.portfolio .portfolio-inner .portfolio-image {
  display: flex;
  align-items: center;
  margin-right: 5%;
  width: 45%;
  @media only screen and (max-width : 768px) {
    width: 100%;
  }
}
.portfolio .portfolio-inner .portfolio-content {
  flex: 1;
}


